.content-outer-wrapper {
    overflow: auto;
    width:100%;
}
.content-inner-wrapper {
    width:100%;
}
#top-scroller {
    position: fixed;
    bottom:20px;
    right:20px;
    height:60px;
    width:60px;
    border-radius:30px;
    z-index:10;
    display:none;
    outline:none;
    border:none;
    background:red;
}
