.page-title {
    font-weight:700;
    font-size:3em;
    margin-bottom:50px;
}
.work-project-link {
    height:500px;
    overflow:hidden;
    display: block;
    padding-left:0 !important;
    padding-right:0 !important;
    position: relative;
}
.work-project-link:after {
    content:' ';
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:none;
    opacity: 0.3;
    transition:background .3s ease;
}
.work-project-link:hover:after {
    background:#000;
}
.work-project {
    height:100%;
    width:100%;
}
.work-project-title {
    margin-top:0;
    margin-bottom:0;
    position:absolute;
    z-index:2;
    color:#fff;
    bottom:20px;
    left:10px;
}
.work-project-image {
    height:100%;
    width:100%;
    background-size:cover;
    background-position:50% 50%;
    transform-origin: center;
}
