.page-title {
    font-weight:700;
    font-size:3em;
    margin-bottom:50px;
}
.work-project-link {
    height:200px;
    display: block;
    background:#eee;
    padding-left:0 !important;
    padding-right:0 !important;
    position: relative;
}
.work-project-link:hover {
    background:#ddd;
}
.work-project-title {
    margin-top:0;
    margin-bottom:0;
    position:absolute;
    bottom:20px;
    left:10px;
}
