.page-title {
    font-weight:700;
    font-size:3em;
    margin-bottom:50px;
}
.work-project-link {
    color:#212121;
}
.work-project-link:hover {
    text-decoration: none;
}
.work-project {
    height:100px;
}
.work-project:hover {
    background:#ddd;
}
